* {
  cursor: none;
}

*:hover {
  cursor: none;
}

canvas {
  cursor: none;
  overflow: hidden;
  filter: opacity(0.8);
}

/* Personaliza el scroll */
.scroll-container {
  scrollbar-width: thin;
  /* Para navegadores basados en Firefox */
  scrollbar-color: rgba(100, 100, 100, 0.5) transparent;
}

.scroll-container::-webkit-scrollbar {
  width: 8px;
  padding: 1vh;
  /* Ancho del scroll */
}

.scroll-container::-webkit-scrollbar-track {
  background: transparent;
  /* Fondo del track */
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.5);
  /* Color de la barra */
  border-radius: 4px;
  /* Bordes redondeados */
  border: 2px solid transparent;
  /* Espacio entre el scroll y el track */
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  background-color: rgba(100, 100, 100, 0.7);
  /* Más visible al pasar el mouse */
}