@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
}

[data-theme='dark'] {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: monospace;
  cursor: none;
}

.custom-cursor {
  width: 20px;
  height: 20px;
  border: 2px solid;
  position: fixed;
  pointer-events: none;
  z-index: 9999;
}

.custom-cursor.pointer {
  display: none;
}

/* Brutalist-style button */
.brutalist-button {
  background-color: var(--foreground);
  color: var(--background);
  border: 2px solid var(--foreground);
  padding: 10px 20px;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.brutalist-button:hover {
  background-color: var(--background);
  color: var(--foreground);
}

/* Section styles */
section {
  margin-bottom: 2rem;
}

/* Hover effect */
[class*="hover:"] {
  transition: all 0.3s ease;
}

/* Project image styles */
.fixed {
  position: fixed;
}

.z-50 {
  z-index: 50;
}

.pointer-events-none {
  pointer-events: none;
}

form input, textarea {
  cursor: none;
  background-color: transparent !important;
}