@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

[data-theme='dark'] {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: monospace;
  cursor: none;
}

.custom-cursor {
  width: 20px;
  height: 20px;
  border: 2px solid;
  position: fixed;
  pointer-events: none;
  z-index: 9999;
}

.custom-cursor.pointer {
  display: none;
}

.z-50 {
  z-index: 50;
}

.pointer-events-none {
  pointer-events: none;
}

